<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Ana Sayfa</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Teachers" asp-action="Index">Öğretmenler</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Students" asp-action="Index">Öğrenciler</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Branches" asp-action="Index">Branşlar</a>
</li>

<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">Kullanıcılar</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roller</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="RoleAssignment">Rol Atama</a>
</li>