
<br />
<br />
<section id="about" class="section mt-3">
<div class="container mt-5">
    <div class="row text-center text-md-left">
        <div class="col-md-3">
            <img src="~/images/eutku.jpg" alt="" class="img-thumbnail mb-4">
        </div>
        <div class="pl-md-4 col-md-9">
            <h6 class="title">Erdi Utku</h6>
            <p class="subtitle">Akademi Yönetim Kurulu Başkanı / Matematik Öğretmeni</p>
            <p>
                “Bilim deyince, onda hakikat diye öne sürdüğü önermelerin pekin olmasını ister; pekinlik ise en mükemmel şekliyle matematikte bulunur. O halde bilim o disiplindir ki; önermeleri matematikle ifade edilir. O zaman matematiği kullanmayan disiplinler bilimin dışında kalacaklardır.”
                <br />
                <br />

                M.Kemal Atatürk

            </p>


        </div>
    </div>
</div>
</section>