@*@model List<TeacherModel>


<br />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="img-wrapper">
                <img src="~/images/@item.Image.Url" alt="">
                <div class="overlay">
                    <div class="overlay-infos">
                        <h3>@item.FirstName</h3>
                        <h5>@item.Price</h5>
                      
                        <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                        <a href="javascript:void(0)"><i class="ti-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
            }
</div>*@


